<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HPRefreshDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7B42E6E51DBDF5F000A0520A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B42E6FE1DBDF5F100A0520A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B42E7091DBDF5F100A0520A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
